/* LandingPage.css */
.container {
    background-color: #162238;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.logo {
    width: 25vw; /* 화면 너비의 25% */
    height: auto;
    max-width: 300px; /* 최대 크기 */
    max-height: 300px; /* 최대 크기 */
}

.typingEffect {
    font-size: 3vw;
    margin-top: 2vh;
}

.customButton {
    padding: 0.5vh 1vw;
    font-size: 1.5vw;
    width: 150px;
    height: 30px;
}

/* 미디어 쿼리 */
@media (max-width: 600px) {
    .logo {
        width: 50vw; /* 작은 화면에서는 로고 크기를 키움 */
    }
    .typingEffect {
        font-size: 5vw;
    }
    .customButton {
        font-size: 2.5vw;
        width: 100px;
        height: 25px;
    }
}
